/******************************/
/* Site-wide styling */
/******************************/

body {
	font-family: 'Open Sans', sans-serif;
}

.default {
	padding-top: 50px;
	padding-bottom: 50px;
}

li {
	text-decoration: none;
}

.headline {
	color: #218C8D;
}

h1, .link {
	padding-bottom: 10px;
	text-align: center;
}

.blue {
	background-color: #b6d5e1;
}

.highlight-blue {
	background-color: #e2eff1;
}

.signout {
	text-align: center;
	vertical-align: center;
	margin-top: 7px;
}

.color-border {
	border-style: solid;
	border-width: 3px;
	border-color: #65799b;
	padding-bottom: 20px;
}

#top-margin {
	margin-top: 50px;
}


/******************************/
/* Sign-in and Sign-up */
/******************************/

.flex-container {
	display: -webkit-flex; /* for safari */
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	align-content: center;
}

.flex-item {
	text-align: center;
}

.add-background {
  background-color: rgba(255, 255, 255, 0.7);
  padding-right: 75px;
  padding-left: 75px;
  border-radius: 5%;
}

.welcome {
	color: #3B1E2D;
	font-family: 'Bad Script', cursive; 
	font-size: 55px;
	text-align: center;
	margin-bottom: 30px;
}

.signup {
	background-color: #3B1E2D;
}

.signin-and-up {
	text-align: center;
	margin-bottom: 10px;
}

.link {
	margin-top: 20px;
}

.password {
	margin: 0px 0 10px 0;
}

.auth {
	text-align: center;
}

#auth-label {
	text-align: left;
	text-indent: 3px;
	color: #473E3F;
}


/******************************/
/* Guest Input view */
/******************************/

/* Guests per table */

.table-size-input {
	width: 300px;
	height: 40px;
	margin: 20px 0;
	text-align: center;
}

.shaded-box {
	width: 400px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #e2eff1;
	border-radius: 10px;
}

/* Add guests and +1's */

.add-next-guest {
	background-color: #6CCECB;
	margin-bottom: 10px;
	margin-top: 10px;
}

.input-list {
	margin-top: 20px;
}

.highlight-box {
	background-color: #e2eff1;
	text-indent: 10px;
}

.plus-one {
  margin-top: 20px;
  color: #473E3F;
}

.done-adding {
	margin-bottom: 10px;
	font-weight: bold;
}

/* Add Enemies view */

.constraints-header {
  margin-bottom: 30px;
  text-align: center;
}


/***********************************/
/* Guest List and Edit Guest view */
/***********************************/

.guest-name {
	cursor: pointer;
}

.guest-name:hover {
	background-color: #65799b;
	color: #FFF;
}

div .guest-info {
	text-align: center;
	margin-bottom: 10px
}

th, td {
  padding: 5px;
  text-align: left;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}

.bold {
	font-weight: bold;
	font-size: 12pt;
	color: #65799b;
}

h5 .listview {
	text-align: center;
	margin: 10px 0;
}

.all-guests-head {
	color: #555273;
}

.fix-width {
	width: 120px;
}

.fix-width-xl {
	width: 300px;
}

div #edit {
	color: #555273;
	text-align: left;
	font-size: 16px;
	background-color: #e2eff1;
	margin-top: 20px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-radius: 10px;
}
