body {
	margin-top: 50px;
	margin-bottom: 50px;
}

li {
	text-decoration: none;
}

.headline {
	color: #218C8D;
}

div .name-field {
	margin-bottom: 10px;
}

div .input-list {
	margin-top: 10px;
}

.highlight-box {
	background-color: #FFFFCC;
	text-indent: 10px;
}

.add-next-guest {
	background-color: #6CCECB;
	margin-bottom: 10px;
}

.done-adding {
	margin-bottom: 10px;
	font-weight: bold;
}

h1, .link {
	padding-bottom: 10px;
	text-align: center;
}

.link {
	margin-top: 20px;
}

.password {
	margin: 5px 0 10px 0;
}