.add-background {
  background-color: rgba(255, 255, 255, 0.5);
}

.default {
	margin-top: 50px;
	margin-bottom: 50px;
}

li {
	text-decoration: none;
}

.welcome {
	color: #3B1E2D;
	font-family: cursive; 
	font-size: 50px;
	text-align: center;
	margin-bottom: 30px;
}

.headline {
	color: #218C8D;
}

.constraints-header {
  margin-bottom: 30px;
  text-align: center;
}

div .input-list {
	margin-top: 10px;
}

.highlight-box {
	background-color: #FFFFCC;
	text-indent: 10px;
}

.color-border {
	border-style: solid;
	border-width: 3px;
	border-color: #8EDC9D;
	padding-left: 20px;
	padding-bottom: 20px;
}

.add-next-guest {
	background-color: #6CCECB;
	margin-bottom: 10px;
	margin-top: 10px;
}

.plus-one {
  margin-top: 20px;
  color: #473E3F;
}

.done-adding {
	margin-bottom: 10px;
	font-weight: bold;
}

.center-img {
	text-align: center;
  margin: 40px 0px 0px 0px;
  border: 7px solid black;
  border-radius: 20px;
}

h1, .link {
	padding-bottom: 10px;
	text-align: center;
}

.auth {
	text-align: center;
}

.signin-and-up {
	text-align: center;
	margin-bottom: 10px;
}

.link {
	margin-top: 20px;
}

.password {
	margin: 5px 0 10px 0;
}