<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/guestinput">Seatly</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/guestinput">Create List</a></li>
        <li><a href="#/list">See My Seating Chart</a></li>
      </ul>
        <!-- Make signout a button that looks like a link so we can attach click behavior -->
        <div class="pull-right"><a href="#/signin" type="button" class="btn btn-link signout" role="button" ng-click="signout()">Sign Out</a></div>
    </div>
  </div>
</div>

<div class="container" ng-controller='listController'>
  <div class="row" ng-hide='inEdit' id='list'>
    <div class="col-md-12">
      <h1 class="headline">All Guests</h1>
    </div>
    <div class='listview'>
      <h5>Number of Tables: {{ diningTbls.length }} </h5>
   <!--     <tr>
          <th>Table Name</th>
          <th colspan="0"> {{ diningTbl.diningTableName }} </th>
        </tr> -->


<!--   <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
 -->

      <table class="table table-hover" ng-repeat="diningTbl in diningTbls">
      <thead>Table {{ diningTbl.diningTableName }}</thead>
        <tr>
          <th>Guest</th>
          <th>+1</th>
          <th>Enemies</th>
        </tr>
        <tbody>
        <tr ng-repeat="guest in diningTbl.guestsAtTable">
          <td class="name" ng-click="fauxRedirect(guest.guestName)">{{ guest.guestName }}</td>
          <td ng-click="fauxRedirect(guest.guestName)">{{ guest.friendName }}</td>
          <td ng-repeat="enemy in guest.constraints">{{ enemy }}</td>
          <!-- <td ng-click='fauxRedirect(guest.guestName)'>{{ guest.constraints }}</td> -->
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div ng-show="inEdit" id="edit">
    <h1 class="headline">Guest Information</h1>
    <form name="editGuestForm">
      <div class="guest-info"> 
        <div>
          <strong>Name</strong>: {{ guest.guestName }}
        </div>
        <div>
          <strong>+1</strong>: {{ guest.friendName }}
        </div>
        <div>
          <strong>Enemies</strong>: <span ng-repeat="enemy in guest.constraints">{{ enemy }}</span>
        </div>
      </div>
      <div class="signin-and-up">
        <button class='btn btn-default' ng-click='deleteGuest()'>Delete Guest</button>
        <button class='btn btn-default add-next-guest' ng-click='reverseRedirect()'>Cancel</button>
      </div>
    </form>
  </div>
</div>
