<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/guestinput">Seatly</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/guestinput">Create List</a></li>
        <!-- Uncomment the below after editview is enabled -->
        <!--  <li><a href="#/edit">Edit List</a></li> -->
        <li><a href="#/list">See My Seating Chart</a></li>
      </ul>
        <!-- Make signout a button that looks like a link so we can attach click behavior -->
        <div class="pull-right"><a href="#/signin" type="button" class="btn btn-link signout" role="button" ng-click="signout()">Sign Out</a></div>
    </div>
  </div>
</div>

<div class="container default" ng-controller="guestInputCtrl">
	<div class='tableSize' ng-show='peopleInput'>
		<h2 class='headline'>Number of Guests Per Table</h2>
		<form name='numOfPpl'>
			<input class='people' ng-model='peoplePerTable' placeholder='Number of guests per table' required>
			<button class="btn btn-default add-next-guest" ng-click='moveOn()' ng-disabled="numOfPpl.$invalid">Add Guest Information</button>
		</form>
	</div>

	<div ng-show='guestInput'>
	  <form name="guestInputForm" role="form" novalidate>

	  <div class="row">
	    <div class="col-md-12">
				<h2 class="headline">Add Guest</h2>
			</div>

	    <div class="col-md-6" ng-class="{ 'has-error': guestInputForm.guestname.$invalid && !guestInputForm.guestname.$pristine && !isPristineAgain }">
			  <label for="guest-name">Guest Name</label>
				  <input name="guestname" ng-model="guestName" type="text" class="form-control" id="guest-name" placeholder="Your Guest's Name" required>
			  <div role="alert">
			    <span class="help-block" ng-show="guestInputForm.guestname.$error.required && !guestInputForm.guestname.$pristine && !isPristineAgain">
			    	Guest name is required.
			    </span>
			  </div>

				<!-- Only show plus-one field if guest name field is not empty -->
			  <div ng-show="guestName">
				  <label for="friend-name" class="plus-one">Guest's Plus-One</label>
					<div class="form-group">
					  <input ng-model="friendName" type="text" class="form-control" id="friend-name" placeholder="Your Guest's Plus-One">
				  </div>
			  </div>

			  <div>
				  <button class="btn btn-default add-next-guest" ng-disabled="guestInputForm.guestname.$invalid" ng-click="addGuest()">Continue Adding Guests</button>
			  </div>

			  <div>
				  <button class="btn btn-default" ng-click="showConstraintsView()">Done Adding Guests</button>
			  </div>

			  <div>
			  <h3 ng-show="guests.length > 0">Guests Added in this Session</h3>
			    <div class="highlight-box">
			    <!-- TODO: Add logic to show that a plus-one guest is the plus-one of a primary guest -->
					  <div class="input-list" ng-repeat="guest in guests | orderBy: 'guestName' ">
					    {{guest.guestName}}
					  </div>
				  </div>
			  </div>

		  </div> 
	  </div> 

	  </form> <!-- End of guest input form -->
  </div> <!-- End of guest input div -->

  <!-- Constraint View -->
  <div ng-show="constraintInput" class="color-border">
  <div class="row">
	  <div class="col-md-12">
	  <h3 class="constraints-header">Add Constraints</h3>
	  </div>
  </div>

	  <div class="row">
	  	<div class="col-md-6">
		    <ul>
		  	  <label>Guest Name
		  	    <select ng-model="guest" ng-options="guest.guestName for guest in guests">
			  	  	<option value="">-- choose guest --</option>
			  	  </select>
		  	  </label>
		    </ul>
		  </div>
		  <div class="col-md-6">
		  <ul>
		  	<label>Enemy Name
		  	  <select ng-model="enemy" ng-options="enemy.guestName for enemy in guests">
		  	  	<option value="">-- choose enemy --</option>
		  	  </select>
		  	</label>
		  </ul>
		  </div>
	  </div>

	  <div class="row">
	  	<div class="col-md-3">
	  		<button class="btn btn-default add-next-guest" ng-click="addConstraint()">Update and Add Another Constraint</button>
	  	</div>
	  </div>

	  <div class="row">
	  	<div class="col-md-3">
	  		<button class="btn btn-default done-adding" ng-click="addAllGuests()">Done! Get My Chart!</button>
	  	</div>
	  </div>
  </div>

</div>