<div class="container" ng-controller="guestInputCtrl">
	<div ng-hide="showConstraints">
	  <form name="guestInputForm" role="form" novalidate>
	    <div class="col-lg-6">

				<h2 class="headline">Add Guest</h2>

				<!-- TODO: Make the required message go away at the end of the seesion -->
			  <label for="guest-name">Guest Name</label>
				  <input name="guestname" ng-model="guestName" type="text" class="form-control" id="guest-name" placeholder="Your Guest's Name" required ng-class="{'error': guestInputForm.$dirty}"/>
				

				<!-- Only show plus-one field if guest name field is not empty -->
			  <div ng-show="guestName">
				  <label for="friend-name">Guest's Plus-One</label>
					<div class="form-group">
					  <input ng-model="friendName" type="text" class="form-control" id="friend-name" placeholder="Your Guest's Plus-One">
				  </div>
			  </div>

			  <div>
				  <button class="btn btn-default add-next-guest" ng-click="addGuest()">Continue Adding Guests</button>
			  </div>

			  <div>
				  <button class="btn btn-default" ng-click="showConstraintsView()">Done Adding Guests</button>
			  </div>

			  <div>
			  <h3 ng-show="guests.length > 0">Guests Added in this Session</h3>
			    <div class="highlight-box">
			    <!-- TODO: Add logic to show that a plus-one guest is the plus-one of a primary guest -->
					  <div class="input-list" ng-repeat="guest in guests | orderBy: 'guestName' ">
					    {{guest.guestName}} 
					  </div>
				  </div>
			  </div>

		  </div>

	  </form>
  </div>

  <!-- Constraint View -->
  <div ng-show="showConstraints">
	  <div class="row">
	  <h3>Add Constraints</h3>
	  </div>

	  <div class="row">
	  	<div class="col-md-6">
		    <ul>
		  	  <label>Guest Name
		  	    <select ng-model="guest" ng-options="guest.guestName for guest in guests">
			  	  	<option value="">-- choose guest --</option>
			  	  </select>
		  	  </label>
		    </ul>
		  </div>
		  <div class="col-md-6">
		  <ul>
		  	<label>Enemy Name
		  	  <select ng-model="enemy" ng-options="guest.guestName for guest in guests">
		  	  	<option value="">-- choose enemy --</option>
		  	  </select>
		  	</label>
		  </ul>
		  </div>
	  </div>

	  <div class="row">
	  	<div class="col-md-3">
	  		<button class="btn btn-default" ng-click="addConstraint()">Update and Add Another Constraint</button>
	  	</div>
	  </div>

	  <div class="row">
	  	<div class="col-md-3">
	  		<button class="btn btn-default" ng-click="addAllGuests()">Done! Get My Chart!</button>
	  	</div>
	  </div>
  </div>

</div>