<div class='container', ng-controller='editController'>
  <h1 class='headline'>Edit Guest Information</h1>
  <form name='editGuestForm'>
    <div>
      <input ng-model='guest.guestName' placeholder="this guest's name">
    </div>
    <div>
      <input ng-model='guest.friendName' placeholder="this guest's plus-one">
    </div>
    <div>
      <input ng-model='guest.constraints' placeholder='any guests this guest should not sit with, separated by commas'>
    </div>
    <div>
      Dining Table ID: {{guest.diningTableId}}
    </div>
    <button ng-click='editGuest()'>Done Editing Guest</button>
  </form>
</div>