<div class="container default" id="signup">

<style>
  body {
    background: url("../../assets/signin-img.jpg");
    background-position: center;
    margin-top: 40px;
  }
</style>

<p class="welcome">Welcome to Seatly</p>

  <!-- start flexbox -->
  <div class="flex-container">
    <div class="add-background">
      <h1 class="headline signin-and-up">Sign up</h1>

      <form class="auth" name="signupForm" ng-submit="signup()">
        <!-- username field -->
        <label for="username">Username: </label>
        <input type="text" ng-model="user.username" placeholder="Required" class="form-control password">
        <!-- password field -->
        <label for="password">Password: </label>
        <input class="form-control password" type="password" ng-model="user.password" placeholder="Required">

        <!-- sign up button -->
        <div class="flex-item"><button class="signup btn btn-info link">Sign up</button></div>
      </form>
      <!-- link to sign in -->
      <p class="link">
        <a href="#/signin">Already have an account? <strong>Sign in</strong>...</a>
      </p>
    </div>
  </div>  <!-- end flexbox -->

</div>
