<div class="container default" id="signin" ng-controller='AuthController'>

<style>
  body {
    background: url("../../assets/signin-img.jpg");
    background-position: center;
    margin-top: 50px;
  }
</style>

<p class="welcome">Welcome Back to Seatly</p>

  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4 add-background">
        <h1 class='headline signin-and-up'>Sign in</h1>
      </div>
    <div class "col-md-4"></div>  
  </div>

  <form class='auth' name='signinForm' ng-submit='signin()'>
    <div class="row">
      <div class="col-md-4"></div>
        <div class="col-md-4 add-background">
          <input type="text" ng-model='user.username' placeholder='username'>
        </div>
        <div class "col-md-4"></div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 add-background">
        <input class='password' type="password" ng-model='user.password' placeholder='password'>
      </div>
      <div class "col-md-4"></div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 add-background">
        <button class="btn btn-info">Sign in</button>
      </div>
    </div>

  </form>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 add-background">
      <p class='link'>
        <a href="#/signup">Don't have an account? <strong>Sign up</strong>...</a>
      </p>
    </div>
    <div class "col-md-4"></div>
  </div>

</div>